@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	float: left;
	width: 25%;
	padding: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}

footer {
	clear: both;
}

header {
	clear: both;
}

img {
	max-width: 75%;
}

main {
	float: left;
	width: 40%;
	padding: 20px;
}

nav {
	float: left;
	width: 10%;
	padding: 40px;

}

#copyright {
	font-size: 80%;
}

#main-container {

}